{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="restaurant-title text-center">Edit {{ restaurant.name }}</h1>

  <div class="col-md-4 col-md-offset-4">
    <form class="form-inline" action="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}" method='post'>
      <div class="form-group text-center">
        <input type='text' class="form-control" name="name" placeholder="{{ restaurant.name }}">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Submit</button>
          </span>
        </div>
      </div>
    </form>
    <a href="{{ url_for('allRestaurants') }}">Return to List of Restaurants</a>
  </div>
</div>

<form class="form-inline" action="{{ url_for('addRestaurant') }}" method="post">
  <div class="form-group text-center">


{% endblock content %}
